@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

.carousel .carousel-inner .carousel-item a > img{
    width: 100%;
}


@media(max-width: 425px){

   .carousel .carousel-inner .carousel-item a > img{
        width: 300%;
        height: auto;
   }
}
