@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0 ;
    padding: 0;
}

main{
    margin: 50px 8rem;
    padding-bottom: 100px;
    display: block;
}

.residenciais{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main img{
    width: 500px;
    margin-bottom: 50px;
}

article{
    margin: 0;
    padding: 0;
}

.cards{
    margin-top: -20px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;

}

.cards a img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}

.residenciais-mobile{
    display: none;
}

@media(max-width: 1440px){

    .cards a img{
        margin: 0;
        padding: 0;
        max-width: 100%;
        
    }
}

@media(max-width: 768px){

    .residenciais-mobile{
        display: block;    
        padding-bottom: 100px;    
    }

    .residenciais-mobile img{
        max-width: 100%;
    }

    .main{
        display: none;
    }

    .cards{
   
        display: block;
        flex-wrap: wrap;
       
    
    }


}
