@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0 ;
    padding: 0;
}

main{
    margin: 50px 8rem;
    padding-bottom: 100px;
    display: block;
}

.residenciais{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main img{
    width: 500px;
    margin-bottom: 50px;
}

article{
    margin: 0;
    padding: 0;
}

.cards{
    margin-top: -20px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;

}

.cards a img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    
}

.residenciais-mobile{
    display: none;
}

@media(max-width: 1440px){

    .cards a img{
        margin: 0;
        padding: 0;
        max-width: 100%;
        
    }
}

@media(max-width: 1024px){

    .main{
        display: none;
    }
    .residenciais-mobile{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .residencial img{
        width: 400px;
        margin-top: 20px;
    }

}

@media(max-width: 768px){

   
    .main{
        display: block;
    }

    .cards{
        display: flex;
        flex-wrap: nowrap;
    }

    .residenciais-mobile{
        display: none;
    }
}

@media(max-width: 425px){
    
    .main{
        display: none;
    }

    .residenciais-mobile{
        display: block; 
        margin: auto;   
           
    }

    .residenciais-mobile img{
        width: 400px;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }

}
